<%= form_with url: users_profile_path, model: @user do |f| %>

  <div class="user_main">
    <div class="main">
      <h1>プロフィール</h1>
    <%= image_tag @user.image, class: "card-img-top" if @user.image.attached? %>

      <label class="text-secondary">画像</label><br>
          <%= f.file_field :image %>
  
          <%= f.label :name %><br />
          <%= f.text_field :name %>
      <%= @user.name %>    
  
      <%= f.label :自己紹介 %><br />
      <%= f.text_field :introduction %>
    </div>
    <%= f.submit %>
   
  </div>
  <%= render 'side_menu' %>
  <% end %>
  