<h1>予約フォーム</h1>

<ol class="nav">
	<li>1.入力</li>
	<li class="current">2.確認</li>
	<li>3.完了</li>
</ol>

<dl>
	<dt>開始日</dt>
	<dd><%= @check.start_at %></dd>
	<dt>終了日</dt>
	<dd><%= @check.end_at %></dd>
	<dt>人数</dt>
	<dd><%= @check.people %></dd>
</dl>

<%= form_for @check, method: :post, url: check_back_path do |form| %>
	<%= form.hidden_field :start_at %>
	<%= form.hidden_field :end_at %>
	<%= form.hidden_field :people %>
	<%= form.submit '入力画面に戻る' %>
<% end %>

<%= form_for @check, method: :post, url: check_complete_path do |form| %>
	<%= form.hidden_field :start_at %>
	<%= form.hidden_field :end_at %>
	<%= form.hidden_field :people %>
	<%= form.submit '送信する' %>
<% end %>