<h1>予約フォーム</h1>

<ol class="nav">
	<li class="current">1.入力</li>
	<li>2.確認</li>
	<li>3.完了</li>
</ol>
<%= form_for @check, method: :get, url: check_confirm_path do |form| %>
	<dl>
		<dt>開始日</dt>
    <%= form.date_field :start_at %>
    <dt>終了日</dt>
		<%= form.date_field :end_at %>
		<dt>人数</dt>
		<dd><%= form.number_field :people %></dd>
		
	</dl>

	<%= form.submit '確認画面へ' %>
<% end %>