<!DOCTYPE html>
<html>
  <head>
    <title>Stay2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header id="header">
  <div class="wrapper">
    <p class="logo"><a href="/">SAMPLE</a></p>
    <nav>
      <ul>
        
        <% if user_signed_in? %>
        <li><%= current_user.name %></li>
        <header class="sample01">
    <ul>
        <li><a href="#">Menu01 <span>▼</span></a>
            <ul>
                <li><a href="#">Sub-menu01</a></li>
                <li><a href="#">Sub-menu02</a></li>
                <li><a href="#">Sub-menu03</a></li>
                <li><a href="#">Sub-menu04</a></li>
                <li><a href="#"><%= button_to 'サインアウト', destroy_user_session_path, method: :delete %></a></li>
                <li><%= button_to 'サインアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
        </li>
    </ul>
</header>
        <li><%= button_to 'サインアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= button_to 'サインイン', new_user_session_path, method: :get %></li>
        <li><%= button_to 'サインアップ', new_user_registration_path, method: :get %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

  <body>
    <%= yield %>
  </body>
</html>
